* {
    margin: 0;
	padding: 0;
    font-family: 'Orbitron',sans-serif, 'Segoe UI';       
}

html, body {
    background:  black; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5px;
    position: relative;
}

.hero.is-danger {
    background-color: black;
    width: 40%;
    height: 80%;
    border-radius: 5px 0px 0px 5px;
    background-image: url(/images/pokeball.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	z-index: 2; /*para definir a imagem de fundo mais opaca*/
}

.hero.is-danger p {
    position: absolute;
	top: 0%;
    font-size: 50px;
}

#backImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.hero.is-success {
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
	z-index: 2;
    overflow-x: auto;
}

.hero.is-success .hero-body {
	padding: 10px;
	margin: auto 0;
}

.grid-container {
    display: grid;
    grid-template: "col-1 col-2 col-3";

}

.card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
}

.card-content .content h4 {
	font-size: 16px;
	font-weight: 700;
}

.card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
	margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;

}

.card:hover {
    border: 1px dashed red;
}

.modal-card {
    width: min-content;

}

.image img {
    width: auto;
}

#modalPokemon dt {
    font-weight: bolder;
    color: red;
}

#modalPokemon dd span {
    font-family:'Segoe UI';
}
